[submodule "subprojects/wf-config"]
	path = subprojects/wf-config
	url = https://github.com/WayfireWM/wf-config
[submodule "subprojects/wlroots"]
	path = subprojects/wlroots
	url = https://gitlab.freedesktop.org/wlroots/wlroots.git
[submodule "subprojects/wf-utils"]
	path = subprojects/wf-utils
	url = https://github.com/WayfireWM/wf-utils.git
[submodule "subprojects/wf-touch"]
	path = subprojects/wf-touch
	url = https://github.com/WayfireWM/wf-touch
