[submodule "subprojects/wf-config"]
	path = subprojects/wf-config
	url = https://github.com/ammen99/wf-config
[submodule "subprojects/wlroots"]
	path = subprojects/wlroots
	url = https://github.com/swaywm/wlroots
[submodule "subprojects/wf-utils"]
	path = subprojects/wf-utils
	url = https://github.com/WayfireWM/wf-utils.git
